:root{
    --color-yellow:#BEE263;
    --color-purple:#956FD3;
    --color-lightpurple:#CECECE;
    --color-primary-gray:#2B2B2B;
    --color-secoundary-gray: #343434;
    --color-tertiary-gray: #0D0D0DBF;
    --color-white: #F2F2F2;








    
    


}